.users-dashboard {
  display: flex;
  flex-direction: column;
}

.dashboard-name {
  font-size: 3rem;
  color: #4a85f6;
}

.dashboard-functions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.filter {
  display: flex;
  gap: 20px;
  align-items: center;
}

.users-table {
  margin: 40px auto;
}
